# порт для https (по умолчанию 3000)
PORT=
# порт для http (по умолчанию 4000)
PORTH=
# хост (по умолчанию "0.0.0.0")
HOST=
# пароль администратора чата
CHAT_ADMIN_PASSWORD=
# пароль администратора банка
BANK_ADMIN_PASSWORD=
# пароль приложения gmail workspace
EMAIL_PASS = 
# пользавотель (аккаунт) google
EMAIL_USER = 